/* Global Styles */
html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
  scroll-behavior: smooth;
}
/* Thin scrollbar */
body::-webkit-scrollbar {
  width: 6px; /* Thin width */
}

/* Scrollbar track */
body::-webkit-scrollbar-track {
  background-color: #f4f4f4; /* Light gray background */
}

/* Scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #ff6347;
  border-radius: 20px;
}

/* Scrollbar thumb on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #e5533e;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
   padding: 1em;
  text-align: center;
  z-index: 1000;
  background-color: transparent; /* Transparent by default */
}
.navbar.scrolled {
  background-color: rgba(51, 51, 51, 0.9); /* Dark background when scrolled */
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  list-style: none;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em;
  transition: color 0.3s;
}

/* Active Link Styling */
.navbar a.active {
  color: #ff6347; /* Highlight color */

}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
/* Full-screen loader overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    20,
    20,
    20,
    0.926
  ); /* Slightly transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth fade */
}

/* Hide the loader with smooth transition */
.loaded .loader-overlay {
  opacity: 0;
  visibility: hidden;
}

/* Loader styles */
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgb(212, 223, 227);
  border-right-color: #ff6347;
  animation: spin 1s infinite linear;
  margin-left: 50px;
}

/* Loader animation */
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Show the content smoothly */
#content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Display content after loader fades */
.loaded #content {
  opacity: 1;
}

h1,
h2 {
  color: #1c1c21;
}
/* Header Section */
.header {
  background: linear-gradient(135deg, #1c1c21, #444);
  color: #fff;
  padding: 80px 20px;
  text-align: center;
  display: flex; /* Use flexbox for vertical centering */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  height: 100vh; /* Full viewport height */
  animation: slideDown 5s forwards; /* Animation duration and forwards to keep the end state */
}

@keyframes slideDown {
  0% {
    height: 100vh; /* Start at full height */
    padding: 80px 20px; /* Initial padding */
  }
  80% {
    height: 100vh; /* Maintain full height until 4 seconds */
    padding: 80px 20px; /* Maintain initial padding */
  }
  100% {
    height: 100vh; /* End at reduced height */
    padding: 40px 20px; /* Reduced padding */
  }
}

.header-content {
  position: relative; /* Allow absolute positioning of elements */
  margin-top: 50px;
}

.hero-text {
  color: #f0f0f0;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
  overflow: hidden; /* Ensures the text is hidden initially */
  white-space: nowrap; /* Prevents text wrapping */
  border-right: 0.15em solid orange; /* Cursor effect */
  animation: typing 4s steps(40, end) forwards,
    blink-caret 0.5s step-end infinite, move-up 0.3s forwards 4s; /* Move up after typing */
  transform: translate(-50%, 0); /* Center the text */
  position: absolute; /* Position in the center */
  left: 50%; /* Start from the middle */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f0f0f0;
  }
}

@keyframes move-up {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -70px);
  } /* Adjust this value for how high you want it to move */
}

.header p,
.cta-button {
  opacity: 0; /* Start invisible */
  animation: fadeIn 1s forwards; /* Fade-in effect over 1 second */
  animation-delay: 4s; /* Delay of 4 seconds before starting the fade-in */
  margin-top: 7px;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Completely transparent */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}

.header p {
  font-size: 1.2rem; /* Font size for paragraph */
  margin-bottom: 30px; /* Adjust spacing as needed */
}

.cta-button {
  background-color: #ff6347; /* Button color */
  color: #fff; /* Text color */
  padding: 12px 25px; /* Button padding */

  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.cta-button:hover {
  background-color: #e5533e; /* Hover color */
}

/* Section Styling */
.section {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(151, 112, 112, 0.1);
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section p {
  font-size: 1.1rem;
  margin: 10px 0;
}

/* Link Styling */
.section,
.tools-container {
  a {
    color: #ff6347;
    position: relative;
    text-decoration: none;
    font-weight: bold;
  }

  a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff6347;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:active::after,
  a:hover::after {
    color: #ff6347;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  a:hover {
    color: #ff6347;
  }
}

/* Contact Section Layout */
.contact-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f7f7f9;
}

.contact-container {
  display: flex;
  max-width: 1000px; /* Full width on desktop */
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Left Side - Image Section */
.contact-image {
  width: 50%;

  background: url("images/vecteezy_3d-male-character-get-an-idea-while-sitting-on-a-sofa-and_24387871.png")
    center/cover no-repeat;
  background-color: #ff6347c5;
  filter: drop-shadow(
    5px 5px 15px rgba(0, 0, 0, 0.112)
  ); /* Drop shadow effect */
  border-radius: 10px 0 0 10px;
}

/* Right Side - Form Section */
.contact-form {
  width: 50%;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact-form p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.contact-form label {
  font-weight: 700;
  color: #1c1c21;
  font-size: 1rem;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  background-color: #f5f5f5;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff6347;
  outline: none;

  box-shadow: 0 0 5px rgba(255, 99, 71, 0.3);
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
  background-color: #f5f5f5;
}

.submit-button {
  background-color: #ff6347;
  color: #fff;
  padding: 16px 90px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #d14b33;
  transform: translateY(-3px);
}

.submit-button:active {
  transform: translateY(0);
}

/* Mobile adjustments for screens 480px or smaller */
@media (max-width: 750px) {
  .header {
    background: linear-gradient(135deg, #1c1c21, #444);
    color: #fff;
    padding: 80px 20px;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    height: 100vh; /* Full viewport height */
    animation: slideDown 5s forwards; /* Animation duration and forwards to keep the end state */
  }
  
  @keyframes slideDown {
    0% {
      height: 100vh; /* Start at full height */
      padding: 80px 20px; /* Initial padding */
    }
    80% {
      height: 100vh; /* Maintain full height until 4 seconds */
      padding: 80px 20px; /* Maintain initial padding */
    }
    100% {
      height: 50vh; /* End at reduced height */
      padding: 40px 20px; /* Reduced padding */
    }
  }
  

  .contact-container {
    flex-direction: column;
    max-width: 100%; /* Slightly reduced width for smaller screens */
    margin: 0 auto;
  }

  .contact-image,
  .contact-form {
    width: 100%; /* Full width for both image and form on mobile */
  }

  .contact-form {
    padding: 20px; /* Reduced padding for better fit */
  }

  .contact-form h2 {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem; /* Slightly smaller font size on mobile */
    padding: 12px; /* Reduced padding for input fields */
    background-color: #f5f5f5;
  }

  .submit-button {
    font-size: 1rem; /* Slightly smaller button text */
    padding: 14px px; /* Adjust button padding */
  }
}

/* Social Sidebar Styles */
.social-sidebar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
  opacity: 0; /* Start invisible */
  animation: fadeIn 1s forwards; /* Fade-in effect over 1 second */
  animation-delay: 4s; /* Delay of 4 seconds before starting the fade-in */
}

.social-sidebar a {
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-sidebar a:hover {
  background-color: #313131;
  transform: scale(1.1);
}

.social-sidebar img {
  width: 24px;
  height: 24px;
}

/* Footer */
footer {
  background-color: #1c1c21;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2.36rem;
  }

  .section h2 {
    font-size: 2rem;
  }

  .header p,
  .section p {
    font-size: 1rem;
  }
}
/* "What I Use" Section Styling */
#what-i-use {
  background-color: #fff;
  padding: 60px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 8px rgba(151, 112, 112, 0.1);
  border-radius: 8px;
}

#what-i-use h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #1c1c21;
  margin-bottom: 8px;
}
#what-i-use p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.tools-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  list-style-type: none; /* Remove list dots */
  padding: 0;

  a {
    color: #ffffff;
  }

  a::after {
    background-color: #ffffff;
  }

  a:active::after,
  a:hover::after {
    color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }
}

.tool-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}
#html {
  background-color: #ff4502; /* Match the button color */
}
#css {
  background-color: #52c8ff; /* Match the button color */
}
#js {
  background-color: #6772e5; /* Match the button color */
}

.tool-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.tool-icon {
  font-size: 2.5rem;
  color: #e5533e; /* Match the button color */

  img {
    width: 65px;
    height: 65px;
  }
}

.tool-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff; /* Match the text color */
}

.tool-description {
  font-size: rem;
  margin-top: 10px;
  color: #ffffff; /* Match the text color */
}
